.grapher-bar-bar-container {
  position: absolute;
  padding-left: 2px;
  padding-right: 2px;
}

.grapher-bar-bar {
  border: 3px solid #000;
  margin-left: auto;
  width: 90%;
  height: 100%;
}

.grapher-container {
  position: relative;
}
